%main
  %section.hero
    .data-container
      .inner
        .title Станция технического обслуживания
        .text Диагностика, техническое обслуживание и ремонт Вашего автомобиля. Полный спектр работ от команды автосервиса TechRacing.
        = link_to service_path do
          .cta Узнать больше
