%main.test
  %h1 Lorem ipsum dolor sit amet<br>sed do eiusmod tempor incididunt ut labore
  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

  %h2 Lorem ipsum dolor sit amet<br>sed do eiusmod tempor incididunt ut labore
  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

  %h3 Lorem ipsum dolor sit amet<br>sed do eiusmod tempor incididunt ut labore
  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

  %h4 Lorem ipsum dolor sit amet<br>sed do eiusmod tempor incididunt ut labore
  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.



.wrapper
  .meta
    %p HERO
  .data
    %h1 Станция технического обслуживания
    %p Диагностика, техническое обслуживание и ремонт вашего автомобиля. Полный спектр работ от команды TechRacing.
    %h3 Узнать больше

    %h1 Кастом и технический тюнинг
    %p Глубокая доработка автомобилей, кастом, настройка блоков управления. Постройка проектов с нуля и обслуживание уже готовых корчей.
    %h3 Узнать больше

.wrapper
  .meta
    %p hero
  .data
    %h2 TechRacing - кто мы?
    %p Мы не обычный автосервис, каких миллионы. TechRacing - это команда увлеченных автомобилями людей, которые знают, а самое главное любят свое дело. Мы собирали нашу команду шаг за шагом в течение 5 лет и теперь готовы предложить вам весь наш опыт и все наши знания.

.wrapper
  .meta
  .data
    %h2 Станция технического обслуживание

    %h3 Диагностика автомобиля
    %p Оказываем услуги по комплексной диагностике автомобилей. Включая компьютерную диагностику, диагностику ходовой части, безразборную дефектовку состояния двигателя, а также инструментальную диагностику для проверки конкретных подсистем.

    %h3 Техническое обслуживание
    %p Выполняем работы по проведению полного технического обслуживания автомобилей в соответствии с картами ТО, а именно контроль и замену технических жидкостей, фильтров, тормозных дисков и колодок, ремкомплектов ГРМ, настройку клапанных механизмов двигателей.

    %h3 Ремонт ходовой части
    %p Весь спектр работ по замене и ремонту элементов подвески, рулевого управления, тормозной системы, выхлопа. Обслуживание элементов системы впрыска. Замена двигателей в сборе, коробок передач, комплектов сцепления. Сварочные работы.

    %h3 Ремонт двигателей и коробок передач
    %p Полный капитальный ремонт бензиновых двигателей любых конфигураций: рядные, V-образные, оппозитные, роторные. Ремонт коробок передач, раздаточных короб и редукторов. Настройка пятна контакта зацепления главных пар.

    %h3 Автоэлектрика
    %p Оказываем услуги по комплексной диагностике автомобилей. Включая компьютерную диагностику, диагностику ходовой части, безразборную дефектовку состояния двигателя, а также инструментальную диагностику для проверки конкретных подсистем.

.wrapper
  .meta
  .data
    %h2 Кастом и технический тюнинг

    %h3 Диагностика автомобиля
    %p Оказываем услуги по комплексной диагностике автомобилей. Включая компьютерную диагностику, диагностику ходовой части, безразборную дефектовку состояния двигателя, а также инструментальную диагностику для проверки конкретных подсистем.

    %h3 Техническое обслуживание
    %p Выполняем работы по проведению полного технического обслуживания автомобилей в соответствии с картами ТО, а именно контроль и замену технических жидкостей, фильтров, тормозных дисков и колодок, ремкомплектов ГРМ, настройку клапанных механизмов двигателей.

    %h3 Ремонт ходовой части
    %p Весь спектр работ по замене и ремонту элементов подвески, рулевого управления, тормозной системы, выхлопа. Обслуживание элементов системы впрыска. Замена двигателей в сборе, коробок передач, комплектов сцепления. Сварочные работы.

    %h3 Ремонт двигателей и коробок передач
    %p Полный капитальный ремонт бензиновых двигателей любых конфигураций: рядные, V-образные, оппозитные, роторные. Ремонт коробок передач, раздаточных короб и редукторов. Настройка пятна контакта зацепления главных пар.

    %h3 Автоэлектрика
    %p Оказываем услуги по комплексной диагностике автомобилей. Включая компьютерную диагностику, диагностику ходовой части, безразборную дефектовку состояния двигателя, а также инструментальную диагностику для проверки конкретных подсистем.
